<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Active Mastodon Hashtags</title>
    <meta name="description" content="Mastodon Trending Hashtags" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="tufte.min.css" />
    <script src="vendor/htmx.org@1.8.2.js"></script>
    <script src="tuftecomponent/index.js" type="module"></script>
  </head>

  <body>
    <article>
      <h1>Active Mastodon Hashtags</h1>
      <section>
        <p hx-get="nav.html" hx-trigger="intersect once"></p>
        <p hx-get="viewon.html" hx-trigger="load"></p>
      </section>
      <section>
        <p>
          <t-newthought>This page</t-newthought> lists all active hashtags with
          the more active ones first.
        </p>
      </section>
      <section hx-get="x/tld/ALL.html" hx-trigger="load"></section>
      <section hx-get="footer.html" hx-trigger="load"></section>
    </article>
  </body>
</html>
