<!DOCTYPE html>
<html lang="en">

<head>
  <title>All Mastodon Hashtags</title>
  <meta name="description" content="Mastodon Trending Hashtags">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  <script src="https://unpkg.com/htmx.org@1.8.2"
    integrity="sha384-+8ISc/waZcRdXCLxVgbsLzay31nCdyZXQxnsUy++HJzJliTzxKWr0m1cIEMyUzQu"
    crossorigin="anonymous"></script>
  <script type="module" src="index.js"></script>
</head>

<body>
  <header>
    <h1>All Mastodon Hashtags</h1>
    <nav>
      <a href="index.html">Trending Hashtags</a>
      <a href="allhashtags.html">All Hashtags</a>
    </nav>
    </header>
  <section  hx-get="viewon.html" hx-trigger="load">
  </section>
  <main hx-get="tld/ALL.html" hx-trigger="load">
  </main>
  <footer hx-get="footer.html" hx-trigger="load">
  </footer>
</body>

</html>