<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mastodon Instances</title>
    <meta name="description" content="Mastodon Trending Hashtags">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <script src="https://unpkg.com/htmx.org@1.8.2"
        integrity="sha384-+8ISc/waZcRdXCLxVgbsLzay31nCdyZXQxnsUy++HJzJliTzxKWr0m1cIEMyUzQu"
        crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <h1>Mastodon Instances</h1>
        <nav hx-get="nav.html" hx-trigger="load"></nav>
    </header>
    <main hx-get="distances.html" hx-trigger="load">
    </main>
    <footer hx-get="footer.html" hx-trigger="load">
    </footer>
</body>

</html>