<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mastodon Instances</title>
    <meta name="description" content="Mastodon Trending Hashtags">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="vendor/simple.min.css" />
    <script src="vendor/htmx.org@1.8.2.js"></script>
  </head>

<body>
    <header>
        <h1>Mastodon Instances</h1>
        <nav hx-get="nav.html" hx-trigger="load"></nav>
    </header>
    <main hx-get="distances.html" hx-trigger="load">
    </main>
    <footer hx-get="footer.html" hx-trigger="load">
    </footer>
</body>

</html>