<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mastodon Instances</title>
    <meta name="description" content="Mastodon Instances" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="vendor/simple.min.css" />
    <script src="vendor/htmx.org@1.8.2.js"></script>
  </head>

  <body>
    <header>
      <h1>Mastodon Instances</h1>
      <nav hx-get="nav.html" hx-trigger="intersect once"></nav>
    </header>
    <main>
      <section hx-get="viewon.html" hx-trigger="load"></section>
      <aside>
        Lists all known Mastodon instances together with some hashtags that are
        more common on those instances.
      </aside>
      <article hx-get="x/distances.html" hx-trigger="load"></article>
    </main>
    <footer hx-get="footer.html" hx-trigger="load"></footer>
  </body>
</html>
