<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mastodon Trending Hashtags</title>
    <meta name="description" content="Mastodon Trending Hashtags" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="vendor/simple.min.css" />
    <script src="vendor/htmx.org@1.8.2.js"></script>
  </head>

  <body>
    <header>
      <h1>Mastodon Trending Hashtags</h1>
      <nav hx-get="nav.html" hx-trigger="intersect once"></nav>
    </header>
    <main>
      <section hx-get="viewon.html" hx-trigger="load"></section>
      <aside>
        Lists hashtags that have increased use in the last few days. The first
        section shows the trends globally, and the later sections show trends in
        particular groupings of servers.
      </aside>
      <article
        hx-get="x/content.html"
        hx-trigger="intersect once"
      ></article>
    </main>
    <footer hx-get="footer.html" hx-trigger="load"></footer>
  </body>
</html>
