<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mastodon Trending Hashtags</title>
    <meta name="description" content="Mastodon Trending Hashtags" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="tufte.min.css" />
    <script src="vendor/htmx.org@1.8.2.js"></script>
    <script src="tuftecomponent/index.js" type="module"></script>
  </head>

  <body>
    <article>
      <h1>Mastodon Trending Hashtags</h1>
      <section>
        <p hx-get="nav.html" hx-trigger="intersect once"></p>
        <p hx-get="viewon.html" hx-trigger="load"></p>
      </section>
      <section>
        <p>
          <t-newthought>This page</t-newthought> lists hashtags that have
          increased use in the last few days. The first section shows the trends
          globally, and the later sections show trends in particular groupings
          of servers.
        </p>
      </section>
      <div
        hx-get="x/content.html"
        hx-swap="outerHTML"
        hx-trigger="intersect once"
      ></div>
      <section hx-get="footer.html" hx-trigger="load"></section>
    </article>
  </body>
</html>
